#about-page {
  margin: 0 auto;
  max-width: 1000px;

  h1 {
    font-family: $font-stack-serif;
    font-size: 2rem;
    font-weight: 900;
    margin: .75em 0 0;
  }

  h2 {
    color: $colour-primary;
    font-family: $font-stack-serif;
  }

  @media (min-width: 600px) {
    width: 80%;
  }
}

#about-page-intro {
  align-items: center;
  display: flex;
  flex-direction: column;

  p {
    flex: 1 1 auto;

    &:first-child {
      order: 2;
    }

    &:last-child {
      font-size: 1.5rem;
      order: 1;
    }
  }

  @media (min-width: 830px) {
    flex-direction: row;

    p {
      &:first-child {
        margin-right: $margin-small;
        order: 1;
        width: 40%;
      }

      &:last-child {
        font-weight: 200;
        order: 2;
        width: 60%;
      }
    }
  }

  @media (min-width: 1000px) {
    p {
      &:last-child {
        font-size: 1.75rem;
      }
    }
  }

  @media (min-width: 1160px) {
    p {
      &:last-child {
        font-size: 2rem;
      }
    }
  }
}

#about-page-experience,
#about-page-studies,
#about-page-courses,
#about-page-volunteering {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: $spacing 0;

    a {
      color: $colour-txt;

      &:hover {
        color: $colour-highlight;
      }
    }

    > strong {
      font-family: $font-stack-serif;
      font-weight: 400;

      > em {
        font-style: normal;
        font-weight: 700;
      }
    }

    > em {
      font-size: .75em;
      font-style: normal;

      &::before {
        content: '— ';
      }
    }
  }
}
