{{!< default}}

{{#post}}
  <section id="work-list-page">
    {{#get "posts" filter="tags:work+tags:-unlisted" limit="all" as |projects|}}
      <ul class="work-list">
        {{#foreach projects}}
          {{> "project-thumbnail"}}
        {{/foreach}}
      </ul>
    {{/get}}
  </section>
{{/post}}
