.work-list {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  font-size: .75rem;
  list-style: none;
  margin: 0;
  padding: 0;

  &:hover {
    li {
      opacity: .5;
    }

    img {
      filter: sepia(1);
    }
  }

  li {
    flex: 1 0 calc(1/3 * 100% - 2px);
    margin: 1px;
    min-width: 225px;
    position: relative;
    transition: opacity 256ms $cubic-bezier-ease-out;

    &:hover {
      opacity: 1;
      transition-timing-function: $cubic-bezier-ease-in;

      img {
        filter: none;
        transition-timing-function: $cubic-bezier-ease-in;
      }
    }
  }

  img {
    transition: filter 256ms $cubic-bezier-ease-out;
    vertical-align: bottom;
    width: 100%;
  }

  span {
    background: fade-out($colour-txt, .25);
    bottom: 0;
    display: inline-block;
    left: 0;
    padding: $spacing ($spacing * 1.5);
    position: absolute;
  }

  a {
    color: $colour-bg;
    text-decoration: none;
  }
}
