#footer {
  align-items: top;
  color: $colour-primary-light;
  font-size: .75rem;
  margin: $margin-small;

  p {
    margin: .25em 0;
  }

  strong {
    color: $colour-primary;
    font-weight: 600;
  }

  a {
    color: $colour-primary-light;
    font-weight: 600;

    &:hover,
    &:focus {
      color: $colour-txt;
    }

    &:active {
      color: $colour-primary;
    }
  }

  @media (min-width: 1630px) {
    margin: $margin-small auto;
    max-width: 1550px;
  }
}
